* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 800px;
    margin-top: 100px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}
.data {
    background-color: seagreen;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
}
.week {
    background-color: rgb(0, 179, 255);
}